{% extends "layoutkantar.html" %}

{% block content %}
<dev style="color:aliceblue">
    <h1>Using E-Mailed Info</h1><br>
    <p>E-mail is the primary source of information relevant to Spot editing.  Spot editors should always keep their Kantar e-mail open to ensure that they receive the most up-to-date Spot editing information in order to edit accurately and correctly.   It is the editor's responsibility to be aware of and read all e-mailed information***</p><br>
    <h2>Weekly E-mailed Information</h2><br>
    <ul>
        <Li><h5>Sports & Specials Information:</h5>provides accurate information for all specials and sporting events airing on the major Networks and Hispanic Networks</Li>
        <ol>
            <li>Correct titles to use in local edits</li>
            <li>Network team identification</li>
            <li> List of Non-network teams</li>
            <li> Correct length for each game or sporting event </li>
            <li>Special instructions including when an ‘in progress’ comment is required and if local or regional line-ups need to be adjusted in local edits (when needed)</li>
            <li>Times, titles, and lengths for news specials (when needed)</li>
            <li> ***At times it is necessary to update a day’s sports information: it is the editor’s responsibility to make sure they are following the most updated sports information sent***</li>
            <li>The Sports & Specials Info sheet should be kept open for reference while editing the broadcast date it applies to</li>
            
        </ol><br>
        <li><h5>Syndicated Movies & Specials:</h5>provides information for monthly Syndicated specials and movies titles</li>
         <ol>
            <li> List of monthly specials</li>
            <li>Weekly Syndicated movie lists</li>
            <li>For each Syndicated special or movie title the following information is provided:</li>
            <ul>
                <li><h6>Syndication dates</h6> are provided to enable the editor to locate the title’s Syndication log and make certain all correct spots are flagged correctly for Syndication in local edits</li>
                <li><h6>Correct titles</h6> are provided because some titles may have alternate versions that can be incorrectly inserted in local edits and must be edited to the correct title</li>
                <li><h6>Correct lengths</h6> are provided so that accurate start and end times can be shown in local edits</li>
                <li><h6>Lists of a title’s Syndication spots or pods</h6> are provided to help editors correctly identify movies and specials in local edits: Syndicated titles can only be in a local edit if their correct Syndicated spots are also in the local edit.</li>
                

            </ul>
         </ol><br>
         <li><h5>Valid Sports Titles:</h5>provides valid sports titles for network, regional and local sports programs</li>
         <ol>
            <li>Included as part of the weekly Syndicated titles lists on page 2</li>
            <li>Applies to football season programming and provides:</li>
            <ul>
                <li>Pre-season titles to be used</li>
                <li>Pre- and Post-game titles to be used</li>
                <li>Regional team or local programming titles</li>
            </ul>
         </ol>

    </ul><br><br>
    <h2>Other Information Shared in E-Mail OR Team Chat:</h2>
    <ul>
        <li><h5>Rates Issues:</h5> after all markets and stations have been edited by the Spot editing team, the broadcast day is considered 'closed' and is sent to the Rates dept.  The Rates team reviews the titles and spots in all Spot edits for a wide variety of reasons.  Any Spot editing errors found by the Rates dept. are sent back to Spot editors for correction or verification.  All errors are corrected by the editor who made them.  After all errors have been corrected, a Supervisor or experienced editor verifies all corrections have been made and the error list is returned to the Rates dept.</li><br>
        <li><h5>Quality Reviews:</h5>provides editors with feedback on Spot editing quality</li>
        <ol>
            <li>Weekly analysis of errors received from Rates or through individual full edit reviews</li>
            <li>Includes error details as well as explanations to help editors avoid repeating mistakes on future edits</li>
            <li>Starts after each editor has received full training and all Spot editing information</li>
        </ol>
        <li><h5>Announcements pertaining to a specific broadcast day:</h5> such as spots needing updated, missing time, regional events that may effect local edits (severe weather, local events,), etc.</li>
        <li><h5>Updated Spot editing Guidelines:</h5>sent as needed to ensure all editors have the knowledge and resources needed to perform the tasks of Spot editing accurately and correctly</li>
    </ul>

    

</dev>

<img src="{{emailspecial1}}"><br><br>
<img src="{{emailspecial2}}"><br><br>
<img src="{{emailinfosynd1}}"><br><br>
<img src="{{emailsynd2}}"><br><br>
<img src="{{emailinfosynd2}}"><br><br>
<img src="{{emailinfosynd3}}"><br><br>
<img src="{{emailinfosynd4}}"><br><br>
<img src="{{emailinforates}}"><br><br>
<img src="{{emailinfoqa}}"><br><br>
<img src="{{emailinfosear1}}"><br><br>
<img src="{{emailinfosear2}}"><br><br>
<img src="{{emailinfosear3}}"><br><br>
<img src="{{emailinfosear4}}"><br><br>


{%endblock%}