{% extends "layoutkantar.html" %}

{% block content %}
<dev style="color:aliceblue">
 <h1>Football Editing Guidelines</h1>
 <ol>
    <li><h5>Weekly Football Schedule</h5></li>
    <ul>
        <li><h6>Monday</h6>ESPN Cable game, edited by QA team to ESPN Cable Network </li>
        <li><h6>Thursday</h6>NFLN Cable game, edited by QA team to NFLN Cable Network</li>
        <li><h6>Friday</h6>High School Football: identify lengths of games using spots in edit</li>
        <li><h6>Saturday</h6>College Football: use Network Sports email</li>
        <li><h6>Sunday</h6>NFL Football: use Network Sports email</li>
        <li><h6>Any day</h6> All of the above possible.  Replays also possible anytime. Ask QA team as needed</li>
    </ul>
    <img src="{{football1}}" ><br><br>
    <li><h5>Network Sports Email</h5></li>
    <ul>
        <li>Use ONLY the information listed for the game in your edit</li>
        <li>ONLY the Net team games get the Pre Kick & Post Gun titles</li>
        <li>Use the exact titles shown in the email, edits may come in with wrong versions</li>
        <li>Pay attention to special notes: in progress, markets with different game line-ups,etc</li>
    </ul>
    <img src="{{football2}}" ><br><br>
    <li><h5>Net Log Team Games listed on Sports email:</h5></li>
    <ul>
        <li>Only these games listed on the email should have the Pre Kick title</li>
        <li>Spots in edits for Net games usually match the sequence in the Net log</li>

    </ul>
    <img src="{{football3}}" ><br><br>
    <li><h5>Regional Games listed on Sports email:</h5></li>
    <ul>
        <h6>Regional games do not get the Pre Kick title</h6>
        <li>Do not move regional game start time to insert Pre Kick title: that title is for Net game only</li>
        <li>The Network spots for the Pre Kick title are part of the regional game instead of the separate pre kick title.</li>
        <li>Do not insert the Post Gun title at end of Regional games</li>
        <li>The Network spots for the Post Gun title are part of the regional game instead of the separate post gun title.</li>
        <li>Network spots for gm 1 Regional games can air with gm 2 Regional games, gm 2 spots can air with gm1</li>
        <li>DO NOT switch game 1 and game 2 titles in edits: these are live events, game 2 does not air before game 1</li>
    </ul>
    
    <img src="{{football4}}" ><br><br>

    <li><h5>Special Replay Titles </h5></li>
    <ul>
        <li>NFL Football game replays need specific titles depending on following guidelines:</li>
        <ul>
         <li>  *USING THE YEAR IN THE "NFL FOOTBALL" SUBTITLE:</li> 
         <ul>
            <li>If the replay is a game from current season, 2021/2022:</li>
            <ul>
                <li>change the title 'NFL Football' to 'NFL Game Replay'</li>
            </ul>
            <li>If the replay is a game from any other year:</li>
            <ul>
                <li>change the title 'NFL Football' to 'NFL Football Classics'</li>
            </ul>
         </ul>
        </ul>
    </ul>
 </ol>
 <img src="{{football5}}" ><br><br>
</dev>







{%endblock%}