{% extends "layoutkantar.html" %}

{% block content %}
<dev style="color:aliceblue"z-index="100">
<h1>Sports, News; Specials, and FYI's</h1>
<ul>
    <li>Sports</li>
 <ul>
    <li>Network sports will have an email providing all correct titles, start times and lengths to use in local edits.</li>
    <li>Local/Regional sports: accurate lengths of all sporting events are needed in local edits.</li>
    <ul>
        <li>For non-Network sporting events, use the spots in the edit to help determine the sports length/when the next title began (flagged spots for a Network or Syndicated title will show when the next title started)</li>
        <li>Find another Market airing the same game, pull it up next to your edit’s game and compare break times (spots will be different but break times will be the same) End of the game is when the break times stop matching</li>  
    </ul>
    <li>Always verify line-ups after all sporting events until end of edit</li>
     <ul>
      <li>Adjust start times as needed so that all spots are with the correct titles.</li>
      <li>Make sure any ‘in progress’ comments are with the correct title.  These often come in local edits attached to the wrong title.</li>
    </ul>
  </ul>
  <li>News Specials:</li>
  <ul>
    <li>News Specials do not have commercials.</li>
    <ul>
      <li>If a Network news special should have commercial spots, they would be shown in the Network log.</li>
      <li>Local break spots at the end of the news special, right before the next title starts, are okay.</li>
    </ul>
     
  </ul>
  <li>Pacific Network Logs</li>
  <ul>
    <li>ABCP, CBSP and NBCP</li>
    <li>Are in use when special events such as news specials or sports cause alternate Network programming in various time zones.</li>
  </ul>
  <li>Syndicated Movies & Specials List</li>
   <ul>
    <li>List is sent out weekly, movies & specials are listed under weekend dates in Syndication.</li>
    <li>To use the ‘Search’ function, make sure the Options are set to search ‘Workbook’ instead of ‘Sheet’.</li>
   </ul>
  <li>Saturday Morning Network Children’s Programming:</li>
   <ul>
     <li>CBS & NBC Networks: these titles can air anytime but can only be found on Saturday Network logs.</li>
     <ul>
      <li>CBS Titles:</li>
       <ul>
        <li>Lucky Dog-CBS</li>
        <li>Henry Ford’s Innova-CBS</li>
        <li>Mission Unstoppable-CBS</li>
        <li>Pet Vet Dream Team-CBS</li>
        <li>Hope In The Wild-CBS</li>
        <li>Best Friends Furever- CBS</li>
        <li>All In With Laila-CBS</li>
       </ul>
      <li>NBC Titles:</li>
        <ul>
          <li>Champion Within-NBC</li>
          <li>Earth Odyssey/Dylan-NBC</li>
          <li> Consumer 101-NBC</li>
          <li>Roots Less Traveled-NBC</li>
          <li>Vets Saving Pets-NBC</li>
          <li>Wild Child-NBC</li>
          <li>One Team: Power/Spor-NBC</li>

        </ul>
     </ul>
   </ul>


</ul>
</dev>

<dev z-index="-100"width="1px" height="1px">
  

  </dev>


{%endblock%}