{% extends "layoutkantar.html" %}

{% block content %}
<dev style="color:aliceblue">
<h1>Guidelines: Spanish Spot Editing</h1>
<p>Spanish Spot editing refers to Spot editing of stations that broadcast programming from the Hispanic networks Azteca America (AZTA), Telemundo (TEL), UniMas (UMA), and UniVision (UNI); programming from Estrella network can air on Spanish Independent stations (IND).</p><br>
<p>Network titles on AZTA, TEL, UMA, and UNI are flagged purple for Hispanic.  Spots in Spanish edits are either flagged for Hispanic network or are local; nothing is flagged for Syndication.  IND Spanish stations are not flagged at all.</p><br>  
<p>Use the Spanish Network log to edit correctly, the correct Network titles, lengths, start times, and spots are shown in the Network log.</p><br>
<h2>Editing Spanish Stations in Spot EWS</h2>
<ul>
    <li>If a station has a high queue count: Before starting the queue items, scan the edit 5am-2am:</li>
    <ol>
        <li>Verify titles are correct in the local edit and have the correct lengths:</li>
        <ul>
            <li>Refer to the Network log and add, delete, move, or change titles in the local edit so that:</li>
            <ul>
                <li>All Network titles are with the correct Network spots </li>
                <li>All titles have the correct lengths & start times as shown in the day’s Network log</li>
            </ul>
            <li>Flag/Unflag spots in the local edit as needed to reflect what is shown in the Network log</li>
        </ul>
        <li>Revalidate the station: this will often cause the queue list to decrease in size because the titles, show lengths, and flagging have been corrected in step 1.</li>
        <ul>
            <li>Solve what is left of the queue alerts and revalidate the station</li>
        </ul>
    </ol>
</ul>

<h2>Reminders for Spanish Spot editing</h2>
<ul>
    <li>Use the information sent in emails for Spanish Network sports and specials</li>
    <li>Be aware of multiple episodes with the same title in the same day</li>
    <ul>
        <li>Titles are the same, but the flagged spots are different per episode</li>
        <li>Lengths of episodes can vary.  Use the lengths shown in the Net log for </li>
        <li>Make sure you are comparing the spots in your local edit to the correct episode in Network log </li>
    </ul>
    <li>‘Programa Pagado’ is used for a Paid Program, </li>
    <li>‘Noticias’ or ‘Noticiero’ is used for local ‘News’ (unless the specific local news title used by the station can be identified )</li>
    <li>Generic sports titles such as ‘Boxeo’ and ‘Futbol’ are always changed to the specific title shown in the Network log and sports email.  If local, please ask.</li>
    <li>Local news after Network primetime does not get moved to :02, but the next title for the Network news should usually be at (11):35 for 25 mins.  Use the day’s Network log to verify.  </li>

</ul>
</dev>





{%endblock%}